<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Memory Game</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <link rel="stylesheet" href="styles.css">
  <script defer src="./script.js"></script>
</head>

<body>
  <div id="app">
    <div class="counter">
      <h1 class="stats">Your Time: {{time}}s <span>Your Moves: {{counter}}</span></h1>
    </div>
    <section class="memory-game">
      <div v-for="(card, index) in cards" v-on:click="flipCard(index)"
        v-bind:class="card.flipped ? 'flip disable-card' : '' " class="memory-card">
        <img class="front-face" v-bind:src="card.image" v-bind:alt="card.alt" />
        <img class="back-face" src="img/js-badge.svg" alt="JS Badge" />
      </div>
    </section>

    <div v-if="end" class="end">
      <h1>YOU WIN!</h1>
      <h2>Your Time: {{time}}s</h2>
      <h2>Your Moves: {{counter}}</h2>
      <h1 v-on:click="restart" style="cursor: pointer;">RESTART</h1>
    </div>
  </div>
</body>

</html>