* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: radial-gradient(#d4fc79, #96e6a1);
}

#app {
  width: 100%;
}

.memory-game {
  width: 70%;
  height: 870px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(16.6666667% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.disable-card {
  pointer-events: none;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #FFF29E;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.counter {
  margin: 5px auto;
  font-size: 15px;
  text-align: center;
  color: white;
}

.stats {
  width: 950px;
  margin: 0 auto;
  text-align: left;
}

.stats span {
  float: right;
}

.end {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0,0,0,0.85);
  color: white;
  text-align: center;
}

.end h1:first-of-type {
  margin-top: 15%;
}

.end h1:last-of-type {
  margin-top: 3%;
}

@media only screen and (max-width: 1200px) {
  .memory-game {
    width: 90%;
    height: 1200px;
  }

  .memory-card {
    width: calc(25% - 10px);
    height: calc(16.66667% - 10px);
  }
}

@media only screen and (max-width: 768px) {
  .memory-game {
    width: 95%;
    height: 1500px;
  }

  .memory-card {
    width: calc(50% - 10px);
    height: calc(8.333333% - 10px);
  }
}